<?xml version="1.0" encoding="UTF-8"?>
<suite  name="Extent Impl Suite" parallel="tests" thread-count="2">
	 <listeners>
        <listener class-name="extent.util.TestListener"></listener>
    </listeners>
  <test name="Test1"  >
    <classes>
      <class name="tests.LoginTests"/>
      <class name="tests.SnipeITLoginTest"/>
    </classes>
  </test> <!-- Test -->
  
 <!-- <test name="Test2" >
    <classes>
     
      <class name="tests.SnipeITLoginTest"/>
    </classes>
  </test> -->
  
  
</suite> <!-- Suite -->